body {
	background-color: black;
	margin: 0 1em;
	overflow: scroll;
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--bar-height) 0 0 0;
}
.header {
	scroll-snap-align: start; /* snap align start */
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    height: 10vh;
    width: 75vw;
    margin-left: 10vw;
    margin-top: 20vh;
  	font-size: 36px;
	color: black;
	background-color: dimgray
}
.nav  {
    color: white;
    text-align: center;
    width: 30vw;
    padding-left: 35vw;
    padding-top: 20vh;
}
.spacer {
    height: 10vh;
}
.section {
  scroll-snap-align: start; /* snap align start */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	border-top: 2px black solid;
	font-size: 36px;
}
.section .large {

	background-color: dimgrey;
	width: 75vw;
	height: 80vh;
	
}
.section .elmaguey {
	margin: 5vw;
	font-size: 10px;
    text-align: center;
    padding-top: 20vh;
}
