body {
	background-color: black;
	margin: 0 1em;
	overflow: scroll;
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--bar-height) 0 0 0;
}
.header {
	scroll-snap-align: start; /* snap align start */
    text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    height: 6vh;
    width: 75vw;
    margin-left: 11vw;
    margin-top: 20vh;
  	font-size: 36px;
	color: black;
	background-image: url("/images/FF85AA0F-D286-4B5B-8604-47610DD6069C.jpeg");
}
.header .h1 {
    margin-left: 100vw;
    
}
.nav  {
    color: white;
    text-align: center;
    padding-top: 20vh;
}
.spacer {
    height: 10vh;
}
.section {
    

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	border-top: 2px black solid;
	font-size: 36px;
}
.section .large {
    scroll-snap-align: start; /* snap align start */
	background: url("/images/FF85AA0F-D286-4B5B-8604-47610DD6069C.jpeg");
	width: 75vw;
	height: 80vh;
	
}
.section .elmaguey {
	margin: 5vw;
	font-size: 10px;
    text-align: center;
    padding-top: 20vh;
}
